.terms-page {
  color: white;
  padding: 20px 50px;
  height: 100vh;
}

.terms-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.terms-page h2 {
  color: #4DB8FF;
  margin-bottom: 10px;
}

.terms-page p {
  margin-bottom: 20px;
  line-height: 1.6;
}
