.user-page {
  height: 100vh;
  background-color: #0b1120;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

.navbar h2 {
  color: #4DB8FF;
  font-size: 1.8rem;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 60px;
  right: 40px;
  background-color: #1e293b;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 200px;
  text-align: center;
}

.popup p {
  margin-bottom: 10px;
  color: white;
  font-size: 13px;
}

.logout-btn {
  background-color: #ff4757;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.content p {
  color: #a0aec0;
  margin-bottom: 30px;
}

.generate-btn {
  background-color: #1e90ff;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

.generate-btn:hover {
  background-color: #4DB8FF;
  transform: scale(1.05);
}
